:root {
  --blue: #91cdf2;
  --lavender: #d0d0ff;
  --orange: #ffd3ad;
  --pink: #ffbad1;
  --red: #ff2b2b;
  --yellow: #faedb9;

  --black: #000;
  --black-2: #0c0c0c;
  /* --black-2: #fff; */
  --dark-gray: #222;
  --medium-gray-4: #ccc;
  --medium-gray-3: #555;
  --medium-gray-2: #e6e6e6;
  --medium-gray: #eee;
  --light-gray: #f1f1f1;
  --white: #fff;

  --space-xs: 0.36em;
  --space-sm: 0.6em;
  --space-md: 1.8em;

  /* Magic len-9. See longer comment at .len-9-chars-grid */
  --square-edge-length: min(96vw, 66vh);
  --square-edge-length-full: min(96vw, 86vh);
  --constraint-width: 96vw;
}

body {
  margin: 0;
  overflow: hidden;
}

/*
 * layout
 */
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-content-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.touch-controls-container {
  position: relative;
  display: none;
}
.touch-controls-container.touch-mobile,
.touch-controls-container.touch-on {
  display: block;
  height: 20vh;
}

@media (min-width: 768px) {
  .touch-controls-container.touch-mobile {
    display: none;
  }
}

.main-content-container-inner {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: var(--white);
}
.content-top-row {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--square-edge-length);
  height: 6vh;
  margin: 0.5vh 0;
  /* border: 3px solid green !important; */
}
.content-middle-row {
  position: relative;
  width: var(--square-edge-length);
  height: var(--square-edge-length);
  /* border: 3px solid blue !important; */
}
.touch-off .content-middle-row {
  width: var(--square-edge-length-full);
  height: var(--square-edge-length-full);
  /* border: 3px solid red !important; */
}
@media (min-width: 768px) {
  .touch-mobile .content-middle-row {
    width: var(--square-edge-length-full);
    height: var(--square-edge-length-full);
    /* border: 3px solid purple !important; */
  }
}
.content-bottom-row {
  align-items: center;
  box-sizing: border-box;
  position: relative;
  min-width: var(--square-edge-length);
  height: 6vh;
  margin: 0.5vh 0;
  /* border: 3px solid green !important; */
}
.marquee-messages-row {
  /* width: var(--square-edge-length); */
  /* border: 3px solid red !important; */
}

/*
 * board
 */
.bg-board {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
}
.bg-square-dark {
  background: repeating-linear-gradient(
    -45deg,
    var(--light-gray),
    var(--light-gray) 2px,
    var(--white) 2px,
    var(--white) 4px
  );
}
.board {
  display: grid;
  gap: 1px;
  width: 100%;
  height: 100%;
}

/*
 * menu
 */
.menu.main-content-container {
  position: absolute;
  width: 100vw;
  height: 80vh;
  background: var(--white);
  display: flex;
  z-index: 2;
  border: 3px solid blue !important;
}
.menu.main-content-container.touch-off {
  height: 100vh;
  border: 3px solid red !important;
}
@media (min-width: 768px) {
  .menu.main-content-container.touch-mobile,
  .menu.main-content-container.touch-off {
    height: 100vh;
    border: 3px solid magenta !important;
  }
}
.menu .content-top-row > div {
  display: flex;
}
.menu .content-bottom-row {
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
}

/*
 * gameplay
 */
.square {
  aspect-ratio: 1 / 1;
}
.square.snake {
  background: var(--dark-gray);
  z-index: 1;
}
.square.food {
  background: var(--red);
  z-index: 1;
}
.square.flash {
  background: var(--yellow);
}

/*
 * buttons
 */
button {
  display: block;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 0;
  font-size: 0;
}
.button-toggle-menu {
  position: absolute;
  padding: min(8vw, 8vh);
  top: 0;
  right: 0;
  z-index: 3;
}
@media (min-width: 768px) {
  .button-toggle-menu {
    padding: min(4vw, 4vh);
  }
}
@media (min-width: 768px) {
  .button-toggle-menu {
    padding: min(2vw, 2vh);
  }
}
.button-toggle-menu .len-9-chars-grid .block-1 {
  background: var(--light-gray);
}
.button-toggle-menu:hover .len-9-chars-grid .block-1 {
  background: var(--medium-gray-2);
}
.button-navigate .len-9-chars-grid .block-1 {
  background: var(--black);
}
.button-navigate:hover .len-9-chars-grid .block-1 {
  background: var(--medium-gray-3);
}
.button-update-setting {
  padding: min(1vw, 1vh);
  margin: 0 min(2vw, 2vh);
  border: min(1vw, 1vh) solid var(--black);
}
.button-update-setting.isActive {
  border: min(1vw, 1vh) solid var(--blue);
  background: var(--blue) !important;
}
.button-update-setting.isActive .len-9-chars-grid .block-1 {
  background: var(--white);
}
.button-update-setting.isActive:hover {
  cursor: default;
}
.button-update-setting:hover {
  background: var(--black);
}
.button-update-setting .len-9-chars-grid .block-1 {
  background: var(--black);
}
.button-update-setting:hover .len-9-chars-grid .block-1 {
  background: var(--white);
}

/*
 * len-9
 */
.len-9-chars-grid {
  display: grid;
  grid-auto-rows: 1fr;
}
.touch-on .marquee-messages-row .marquee-desktop {
  display: none;
}
.touch-off .marquee-messages-row .marquee-touch {
  display: none;
}
@media (min-width: 768px) {
  .touch-off .marquee-messages-row .marquee-touch,
  .touch-mobile .marquee-messages-row .marquee-touch {
    display: none;
  }
}
@media (max-width: 767px) {
  .touch-on .marquee-messages-row .marquee-desktop,
  .touch-mobile .marquee-messages-row .marquee-desktop {
    display: none;
  }
}

/*
* Magic len-9
*
* Grid row/column of 1 / 1, plus a grid::before with width 0 & padding-bottom
* 100% makes each block a square that is 1x1 sized to the grid. This is what is
* facilitating all the magic sizing, essentially. If the grid is, say, 70% the
* width of the viewport AND it has 70 columns, then each block is going to end
* up being exactly 1% viewport width wide and 1% viewport width tall.
*
* The idea behind the `min` part of `min(70vw, 70vh)` is that regardless of
* whether the viewport is in portrait or landscape orientation, this will
* provide the square edge length that constrained/proportional to the shorter
* of viewport width | viewport height.
*
* See Len9DisplayComponent in Len9.tsx.
*/
.len-9-chars-grid::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.len-9-chars-grid .block-1:first-child,
.len-9-chars-grid .block:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.block-1 {
  background: var(--black);
}
.active-setting .block-1 {
  background: var(--black);
}
.active-setting-value .block-1 {
  background: var(--blue);
}
.high-score .block-1 {
  background: var(--light-gray);
}
.high-score.isHighScore .block-1 {
  background: var(--orange);
}

/*
 * mobile gamepad
 */
.hit-area-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200vw;
  height: 200vw;
  flex-direction: column;
  transform: rotate(45deg) translateX(-50%) translateY(-50%);
  transform-origin: top left;
  display: none;
  background: var(--black);
  /* -webkit-tap-highlight-color: transparent; */
}
.hit-area-container.touch-mobile,
.hit-area-container.touch-on {
  display: flex;
}
/* 768 is coupled with App.tsx's `isMobile` */
@media (min-width: 768px) {
  .hit-area-container.touch-mobile {
    display: none;
  }
}
.hit-area-row {
  display: flex;
  flex: 1;
}
.hit-area-up,
.hit-area-left,
.hit-area-right,
.hit-area-down {
  flex: 1;
}
.hit-area-up,
.hit-area-down {
  background: var(--black);
}
.hit-area-left,
.hit-area-right {
  background: var(--black-2);
}
